body{
    font-family: "Times New Roman", sans-serif;
    color: #FFFFFF;
    background-color:#000000;
  }
  h1{
    font-size: 64px;
    padding: 10px;
    text-align: center;
  }
  h2{
   font-size: 32px;
   text-shadow: 4px 4px 2px #808080;
   text-align: center;
 }
 p{
    font-size: 24pt;
    padding-top: 15px;
 }
 img{
    width: 550px;
    text-align: center;
    display: block;
    margin: auto;
 }
 #intro h2{
    text-align: left;
 }
 #red{
   background: #E60000;
    text-align: right;
    height: 150px;
    padding: 25px;
 }
 #red h2{
    text-align: right;
 }
 #blue{
   background: #0000FF;
    text-align: left;
    height: 150px;
    padding: 25px;
 }
 #blue h2{
   text-align: left;
 }
 #green{
   background: #008000;
    text-align: left;
    height: 150px;
    padding: 25px;
 }
 #green h2{
    text-align: left;
 }
 #yellow{
   background: #FFFF00;
    height: 150px;
    padding: 25px;
    color: black;
    text-align: right;
 }
 #yellow h2{
   color: #000000;
   text-shadow: #c7e2c7;
   text-align: right;

 }
 footer{
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
  }